.album-dialog {
	width: 820px;
	border-radius: 5px;
	.el-dialog__body {
		padding: 0;
	}
	.album-content {
		position: relative;
		height: 410px;
		display: flex;
		overflow: auto;
		.album-content__menu {
			z-index: 1;
			width: 110px;
			height: 410px;
			position: relative;
			overflow: hidden;
			background: #464c5b;
			user-select: none;
			.el-menu {
				background: transparent;
				.el-menu-item {
					height: 40px;
					color: white;
					line-height: 40px;
					&.is-active, &:hover {
						background: #edf1f5;
						border: none;
						color: #444;
					}
				}
			}
		}
		.album-content__empty {
			position: absolute;
			height: 100%;
			width: 100%;
			padding-left: 110px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #0389ff;
			font-size: 16px;
			text-align: center;
			left: 0;
			top: 0;
			.el-icon-picture, .el-icon-loading {
				font-size: 40px;
			}
		}
		.album-content__list {
			position: relative;
			flex:1;
			max-height: 410px;
			height: auto;
			overflow: hidden;
			li {
				display: inline-block;
				margin: 8px;
				position: relative;
				width: 85px;
				height: 85px;
				user-select: none;
				i {
					transition: opacity .2s ease;
					position: relative;
					z-index: 2;
					font-size: 16px;
					color: #31bedb;
					vertical-align: middle;
					visibility: hidden;
					position: absolute;
					top: 5px;
					right: 5px;
					opacity: 0;
				}

				&:after {
					position: absolute;
					content: "";
					height: 100%;
					left: 0;
					top: 0;
					width: 100%;
					border: 1px solid fadeout(#31bedb, 20%);
					visibility: hidden;
					cursor: pointer;
					transition: border .2s ease;
				}
				&:hover, &.select {
					&:after {
						visibility: visible;
					}
				}
				&.select {
					&:after {
						border: 3px solid #31bedb;
					}
					i {
						visibility: visible;
						opacity: 1;
					}
				}
				img {;
					width: 85px;
					height: 85px;
				}
				span {
					position: absolute;
					width: 100%;
					height: 20px;
					line-height: 20px;
					padding: 0 10px;
					text-overflow: ellipsis;
					overflow: hidden;
					bottom: 0;
					left: 0;
					background: rgba(0, 0, 0, .3);
					color: white;
					text-align: center;
				}
			}
		}

	}
	.dialog-footer {
		display: flex;
		justify-content: space-between;
	}
}
