{
	"presets": [
		["env", { "modules": false }],
		"stage-2"
	],
	"plugins": ["transform-runtime", ["component", [
		{
			"libraryName"      : "element-ui",
			"styleLibraryName" : "theme-default",
			"style": true
		}
	]]],
	"comments": false,
	"env": {
		"test": {
			"plugins": [ "istanbul" ]
		}
	}
}
