.commoon-view {
	overflow: hidden;
	padding: 0
}
.tips {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
	width: 100%;
	color: #007cbb;
	font-size: 20px;
	background: #F2F3F7;
	z-index: 1;
}
.list {
	// margin-bottom: 100px;
	// text-align: center;
	padding: 30px;
	.item {
		display: inline-block;
		margin-right: 20px;
		margin-bottom: 20px;
		width: 140px;
		height: 140px;
		box-shadow: 0 1px 7px 0 rgba(0, 43, 59, 0.2);
		&:hover {
			box-shadow: 0 1px 20px 0 rgba(0, 43, 59, 0.2);
		}
		.head {
			height: 140px;
			position: relative;
			background-position: center center;
			img {
				height: 140px;
				width: 140px;
			}
			.name {
				position: absolute;
				bottom: 0;
				left: 0;
				height: 25px;
				width: 100%;
				padding: 0 10px;
				background: fadeout(#EAEAEA, 10%);
				box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
				line-height: 25px;
				overflow: hidden;
				text-overflow: ellipsis;
			}
			.delete {
				visibility: hidden;
				position: absolute;
				background: rgba(0, 0, 0, .5);
				width: 100%;
				height: 115px;
				left: 0;
				top: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				opacity: 0;
				transition: opacity .3s ease-in-out;
				i {
					cursor: pointer;
					color: #ccc;
					&:hover {
						color: #fff;
					}
				}
			}
			&:hover .delete {
				visibility: visible;
				opacity: 1;
			}
		}
		// .bottom {
		// 	background: #EAEAEA;
		// 	display: flex;
		// 	height: 25px;
		// 	padding: 3px 0;
		// 	align-items: center;
		// 	i {
		// 		text-align: center;
		// 		flex: 1;
		// 		border-right: 1px solid #D8D8D8;
		// 		cursor: pointer;
		// 		&:last-child {
		// 			border: none;
		// 		}
		// 	}
		// }
	}
}
