.commoon-view {
	overflow: hidden;
	padding: 0
}
.tips {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	height: 100%;
	width: 100%;
	color: #007cbb;
	font-size: 20px;
	background: #F2F3F7;
	z-index: 1;
}
.list {
	padding: 10px;
	.item {
		display: flex;
		justify-content: center;
		.head {
			margin: 10px;
			box-shadow: 0 1px 7px 0 rgba(0, 43, 59, 0.2);
			height: 100px;
			width: 100%;
			position: relative;
			background-position: center center;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				box-shadow: 0 1px 20px 0 rgba(0, 43, 59, 0.2);
			}
			img {
				width: auto;
				height: 100%;
			}
			.delete {
				visibility: hidden;
				position: absolute;
				background: rgba(0, 0, 0, .5);
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				opacity: 0;
				transition: opacity .3s ease-in-out;
				z-index: 1;
				i {
					cursor: pointer;
					color: #ccc;
					font-size: 20px;
					&:hover {
						color: #fff;
					}
				}
				.name {
					height: 0;
					position: absolute;
					bottom: 0;
					left: 0;
					width: 100%;
					padding: 0 10px;
					background: fadeout(#EAEAEA, 15%);
					box-shadow: 0 0 4px 0 rgba(0,0,0,0.16);
					line-height: 25px;
					overflow: hidden;
					text-overflow: ellipsis;
					transition: height .3s ease-in-out;
				}
			}
			&:hover {
				.delete {
					visibility: visible;
					opacity: 1;
				}
				.name {
					height: 25px;
				}
			}
		}
	}
}
