.switch {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	position: relative;
	border-bottom: 1px solid #eee;
	&:after {
		position: absolute;
		content: "";
		width: 10px;
		height: 10px;
		background: #39f;
		left: 0;
		border-radius: 50%;
		top: 50%;
		margin-top: -5px;
		left: 0;
	}
}
.body {
	padding: 10px;
	.tips {
		color: #999;
		width: 400px;
		height: 70px;
	}
	.action {
		display: flex;
		.form {
			width: 400px;
			.tips {
				padding: 10px 0;
			}
			.setting {
				margin-top: 30px;
			}
		}
		.iPhone-bg {
			margin-left: 10px;
			width: 339px;
			height: 535px;
			margin-top: -70px;
			background: url(../../iPhone.png) center center no-repeat; //要换的
			.iPhone-view {
				color: white;
				text-align: center;
				.title {
					padding-top: 200px;
				}
				.time {
					font-size: 12px;
					.datetime {
						span {
							padding: 5px;
							color: #b73d6a;
						}
					}
				}
			}
		}
	}
}
