.info-page {
	color: #666;
	padding: 45px 50px;
	flex: 1;
	min-height: 100%;
	background: #f2f3f7;
	display: flex;
}

.body {
	position: relative;
	width: 100%;
	flex: 1;
	.box {
		padding: 14px 25px;
		font-size: 14px;

		.form {
			width: 400px;
			.img {
				width: 60px;
				height: 60px;
				border-radius: 50%;
				cursor: pointer;
			}
		}
	}
}
