@defaultPink: #fe4d7b;

.template{
 padding: 44px 50px;
 background: #f2f3f7;
}
.temp-wrap {
	width: 890px;
	min-width: 890px;
}
.temp-box {
	width: 320px;
	&__head {
		position: relative;
		height: 50px;
		background-image: url(../../../images/live/header.png);
		background-size: cover;
		.title {
			padding-top: 22px;
			height: 42px;
			line-height: 20px;
			text-align: center;
			color: #ffffff;
		}
	}
	&__body {
		.banner {
			position: relative;
			height: 128px;
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			.banner-content {
				display: flex;
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 44px;
				color: #fff;
				font-size: 12px;
				background-color: rgba(0, 0, 0, .6);
				&__avatar {
					vertical-align: top;
					height: 44px;
					width: 44px;
				}
				&__title {
					flex: 1 1 auto;
					padding-left: 15px;
					height: 44px;
					line-height: 44px;
				}
				&__button {
					margin: 11px 13px;
					padding: 5px 12px;
					height: 22px;
					line-height: 12px;
					background-color: @defaultPink;
					border-radius: 4px;
				}
			}
		}
		.temp-list {
			.temp-item {
				padding-bottom: 16px;
				background-color: #f2f2f2;
				&__head {
					display: flex;
					height: 34px;
					line-height: 34px;
					background-color: #fff;
					color: @defaultPink;
					.line {
						margin-top: 9px;
						width: 3px;
						height: 16px;
						background-color: @defaultPink;
					}
					.title {
						flex: 1 1 auto;
						margin-left: 14px;
					}
					.link {
						margin-right: 12px;
						font-size: 12px;
					}
				}
				&__body {
					position: relative;
					.temp-card {
						position: relative;
						margin-top: 16px;
						padding: 0 16px;
						&__head {
							display: flex;
							padding: 6px 12px;
							height: 44px;
							background-color: #fff;
							border-radius: 8px 8px 0 0;
							.head__avatar {
								width: 32px;
								height: 32px;
								border-radius: 50%;
							}
							.head__txt {
								margin-left: 10px;
								font-size: 12px;
								line-height: 16px;
								.nick-name {
									color: #9b9b9b;
								}
								.name {
									color: #4a4a4a;
								}
							}
						}
						&__body {
							position: relative;
							height: 180px;
							background-color: #4e546c;
							background-size: 100%;
							background-position: center;
							background-repeat: no-repeat;
							border-radius: 0 0 8px 8px;
						}
					}
				}

			}
		}
	}
	&__foot {
		height: 36px;
		background-image: url(../../../images/bottombar@2x.png);
		background-size: cover;
	}
}

.temp-box {
	.pop {
		position: absolute;
		top: 0;
		left: 350px;
		padding: 22px 26px;
		width: 540px;
		background-color: #4e546c;
		border-radius: 8px;
		&::before {
			content: '';
			position: absolute;
			top: 20px;
			left: -17px;
			border: 9px solid transparent;
			border-right-color: #4e546c;
		}
		&-horizontal {
			display: flex;
			margin-bottom: 26px;
			&:last-child {
				margin: 0;
			}
		}
		.pop-box {
			width: 50%;
			padding-right: 60px;
			&__title {
				color: #fff;
				line-height: 20px;
				&:before {
					content: '';
					display: inline-block;
					margin-right: 10px;
					width: 10px;
					height: 10px;
					background-color: #31bedb;
					border-radius: 50%;
				}
			}
			&__input {
				display: flex;
				margin-top: 12px;
				padding-left: 20px;
				.button {
					display: block;
					width: 40px;
					height: 40px;
					background-color: #fff;
					background-size: 100%;
					background-position: center;
					background-repeat: no-repeat;
					border-radius: 4px;
				}
				.tip  {
					margin-left: 10px;
					line-height: 40px;
					color: #fff;
				}
			}
			&__radio {
				.radio {
					color: #fff;
				}
				.tip {
					margin-left: 28px;
					color: #c7c7c7;
					font-size: 12px;
					line-height: 20px;
				}
			}
		}
	}
	.pop--select {
		top: 105px;
		display: flex;
		&::before {
			display: none;
		}
		.pop__button {
			width: 30px;
			height: 80px;
			border-radius: 6px;
			background-color: #2C2E44;
		}
		.live-list {
			display: flex;
			flex: 1 1 auto;
			justify-content: space-between;
			padding: 0 10px;
			.live-item {
				width: 128px;
				height: 80px;
				background: #fff;
				border-radius: 6px;
			}
		}
	}
}






/* .wrap {
	display: flex;
}
.temp {
	position: relative;
	min-width: 650px;
	margin-bottom: 40px;
	&__main {
		width: 320px;
		box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
		.phone__title {
			position: relative;
			display: flex;
			padding-top: 20px;
			height: 50px;
			font-size: 12px;
			color: #fff;
			text-align: center;
			background-image: linear-gradient(to top, #343647, #1a1a1f);
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -10px;
				width: 20px;
				height: 12px;
				background-image: url(../../../images/triangle@2x.png);
				background-size: 100%;
			}
			p {
				flex: 1 1 auto;
				cursor: pointer;
			}
		}
		.phone__head {
			padding-top: 22px;
			height: 50px;
			color: #fff;
			text-align: center;
			background-image: url(../../../images/live/header@2x.png);
			background-size: 100%;
		}
		.phone__body {
			position: relative;
			background-color: #f2f2f2;
		}
		.phone__foot {
			height: 37px;
			background-color: #f7f7fa;
			box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.04);
		}
	}
}
.temp-list {
	.temp-list__head {
		position: relative;
		height: 128px;
		overflow: hidden;
		.channel-bg {
			position: absolute;
			top: 64px;
			left: 0;
			width: 100%;
			transform: translate3d(0, -50%, 0);
			z-index: 1;
		}
		.channel-main {
			display: flex;
			position: absolute;
			bottom: 0;
			left: 0;
			height: 43px;
			width: 100%;
			line-height: 43px;
			color: #FFF;
			font-size: 12px;
			background-color: rgba(0, 0, 0, .6);
			z-index: 10;
			&__logo {
				width: 43px;
				height: 43px;
			}
			&__name {
				padding-left: 15px;
				flex: 1 1 auto;
			}
			&__follow {
				margin: 10px 14px;
				width: 48px;
				height: 23px;
				line-height: 23px;
				text-align: center;
				border-radius: 4px;
				background-image: linear-gradient(to left, #fe4d7b, #fd5e99);
			}
		}
	}
	.temp-list-item {
		padding: 0 16px 16px;
		.item__head {
			display: flex;
			margin: 0 -16px;
			padding: 8px 16px 8px 0;
			background: #fff;
			.line, .text, .link, .title{
				color: #fe4d7b;
				line-height: 18px;
			}
			.line {
				margin-top: 1px;
				width: 3px;
				height: 15px;
				background-color: #fe4d7b;
			}
			.text {
				margin-left: 14px;
				flex: 1 1 auto;
			}
			.title {
				text-align: center;
				flex: 1 1 auto;
			}
		}
		.item__body {
			margin-top: 16px;
			overflow: hidden;
			.topbar {
				display: flex;
				padding: 6px 10px;
				height: 43px;
				line-height: 31px;
				background-color: #FFF;
				vertical-align: middle;
				border-radius: 6px 6px 0 0;
				img {
					margin-right: 10px;
					width: 31px;
					height: 31px;
					border-radius: 50%;
				}
			}
			.content {
				position: relative;
				padding-bottom: 62.5%;
				background-color: #4e546c;
				border-radius: 0 0 6px 6px;
				overflow: hidden;
				.content__bg {
					position: absolute;
					top: 50%;
					left: 50%;
					width: 100%;
					transform: perspective(1px) translate(-50%, -50%);
					z-index: 1;
				}
				.content__musk {
					position: absolute;
					left: 0;
					top: 0;
					right: 0;
					bottom: 0;
					background: url(../../../images/button@2x.png) no-repeat center center;
					background-size: 40px;
					z-index: 10;
					cursor: pointer;
				}
			}
		}
	}
}
.temp__popwrap {
	display: flex;
	flex-direction: column;
	position: absolute;
	left: 320px;
	top: 0px;
	padding: 50px 90px 50px 30px;
}
.temp__pop {
	position: relative;
	padding: 23px 26px;
	border-radius: 8px;
	background-color: #4e546c;
	&.temp__pop--small {
		padding: 14px;
	}
	&.temp__pop--add {
		margin-top: 20px;
		padding: 14px;
		&:before {
			display: none;
		}
		.button {
			display: block;
			width: 112px;
			height: 30px;
			border-radius: 6px;
			background: #2c2e44;
			text-align: center;
			color: #fff;
			transition: all .2s linear;
			i {
				font-size: 12px;
				line-height: 30px;
			}
			&:hover {
				color: #ccc;
			}
		}
		.select-box {
			width: 112px;
			padding: 10px 0;
			.select-box-item {
				margin-bottom: 10px;
				position: relative;
				height: 70px;
				&:last-child {
					margin: 0;
				}
				img {
					border-radius: 6px;
				}
				.item__musk {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					background: rgba(0, 0, 0, .4);
					border-radius: 6px;
					cursor: pointer;
					&--active {
						box-shadow: 0 0 12px 0 #31bedb;
						background-image: url(../../../images/select@2x.png);
						background-repeat: no-repeat;
						background-position: bottom 0 right 0;
						background-size: 30px;
					}
				}
			}
		}
	}
	&:before {
		content: '';
		position: absolute;
		top: 20px;
		left: -17px;
		border: 9px solid transparent;
		border-right-color: #4e546c;
	}
	.control-box {
		width: 158px;
		color: #fff;
		margin-bottom: 24px;
		&:last-child {
			margin-bottom: 0;
		}
		.control-box__title {
			margin-bottom: 14px;
			&:before {
				content: '';
				display: inline-block;
				margin-right: 10px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: #31bedb;
			}
		}
		.control-box__album {
			position: relative;
			display: block;
			height: 50px;
			width: 50px;
			border-radius: 4px;
			background: #FFF;
			overflow: hidden;
			img {
				position: absolute;
				top: 25px;
				left: 0;
				width: 100%;
				transform: translate3d(0, -50%, 0);
			}
		}
		.control-box__tip {
			margin-top: 6px;
			color: #c7c7c7;
			font-size: 12px;
		}
	}
	.radio-box {
		display: flex;
		flex-direction: column;
		padding: 0 6px;
		width: 112px;
		.el-radio {
			margin: 0 0 8px;
			color: #FFF;
			&:last-child {
				margin: 0;
			}
		}
	}
}
 */
