.container {
	padding: 44px 50px;
}

.content-head{
	display: flex;
	margin-bottom: 20px;
	p{
		padding-right: 20px;
	}
	a{
		margin-left: 0;
	}
}
.content-body{
	.content-card{
		width: 335px;
		height: 170px;
		border-radius: 12px;
		background-color: #4e546c;
	}
}
