.container {
	padding: 44px 50px;
}

.content {
	&.content-info {
		border-radius: 6px;
		background-color: #f2f3f7;
		margin-bottom: 20px;
		padding: 20px 40px;
		&:last-child {
			margin-bottom:0px;
		}
	}
}
.charge {
	margin-right: 10px;
	width: 178px;
	border-radius: 4px;
	background-color: #ffffff;
}
.tips {
	margin: 20px 0 10px;
	display: flex;
	flex-direction: column;
	font-size: 12px;
	.tips-box {
		margin-top: 10px;
	}
}
.price-box {
	margin-bottom:10px;
	.price {
		font-size:18px;
		color: #ff4949;
	}
}
.pay-box {
	display: flex;
	justify-content: space-around;
	.pay-mothod {
		vertical-align:middle;
	}
}
.pay-btn {
	position: relative;
	margin-bottom: 4px;
	left:50%;
	transform: translateX(-50%);
	font-size: 14px;
}

.list {
	margin-top: 30px;
	line-height: 22px;
	.list-title {
		font-size: 14px;
		color: #333;
	}
	li {
		font-size: 12px;
		color: #666;
	}
}
