.view {
	background: #fff;
}
.switch {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	position: relative;
	border-bottom: 1px solid #ddd;
	&:after {
		position: absolute;
		content: "";
		width: 10px;
		height: 10px;
		background: #39f;
		left: 0;
		border-radius: 50%;
		top: 50%;
		margin-top: -5px;
		left: 0;
	}
}
.body {
	padding-top: 10px;
	position: relative;
	.tips {
		color: #999;
		width: 370px;
		height: 40px;
	}
	.action {
		margin-top: 20px;
		display: flex;
		position: relative;
		.form {
			width: 370px;
			.tips {
				padding: 10px 0;
				.warning{
					color: #ffaa00;
				}
			}
			.setting {
				margin-top: 30px;
			}
		}
		.iPhone-bg {
			position:relative;
			width: 247px;
			height: 500px;
			background-image: url(../../../images/live/iPhone7.png); //要换的
			background-size: 100%;
			background-repeat: no-repeat;
			.iPhone-view {
				position:absolute;
				top:60px;
				left:17px;
				color: white;
				text-align: center;
				.title {
					padding-top: 200px;
				}
				.time {
					font-size: 12px;
					.datetime {
						span {
							padding: 5px;
							color: #b73d6a;
						}
					}
				}
			}
		}
	}
}
