.view {
	background: #fff;
}
img{
	vertical-align: top;
}
.switch {
	display: flex;
	align-items: center;
	padding: 10px 20px;
	position: relative;
	border-bottom: 1px solid #ddd;
	&:after {
		position: absolute;
		content: "";
		width: 10px;
		height: 10px;
		background: #31BEDB;
		left: 0;
		border-radius: 50%;
		top: 50%;
		margin-top: -5px;
		left: 0;
	}
}
.body {
	padding-top: 10px;
	position: relative;
	.tips {
		color: #999;
		width: 370px;
		height: 40px;
	}
	.action {
		margin-top: 20px;
		display: flex;
		position: relative;
		.form {
			width: 370px;
			.tips {
				padding: 10px 0;
				.warning{
					color: #ffaa00;
				}
			}
			.setting {
				margin-top: 30px;
			}
		}
		.iPhone-bg {
			position:relative;
			width: 247px;
			height: 500px;
			margin-left: 40px;
			background-image: url(../../../images/live/iPhone7.png); //要换的
			background-size: 100% 100%;
			.iPhone-view {
				position:absolute;
				background-size:100% 100%;
				top:60px;
				left:17px;
				right: 18px;
				bottom: 62px;
				color: white;
				text-align: center;
				background-image: url(../../../images/live/live.png);
				background-size:100% 100%;
				background-repeat:no-repeat;
				.title {
					padding-top: 162px;
					font-size:16px;
				}
				.time {
					font-size: 12px;
					.datetime {
						span {
							padding: 5px;
							font-size:18px;
							color: #b73d6a;
						}
					}
				}
				.view{
					position:absolute;
					left:0;
					top:37px;
					right:0;
					bottom:0;
					z-index:100;
				}
				.view-bg{
					position:absolute;
					left:0;
					top:0;
					right:0;
					bottom:0;
					background-image:url(../../../images/live/liveguide.png);
					background-size:100% 100%;
					z-index:101;
				}
				.common-bg{
					position:absolute;
					left:0;
					top:0;

					z-index:100;
				}
				.txt-box{
					position:absolute;
					left:0;
					top:0;
					width:100%;
					z-index:101;
				}
				.magnifier{
					position:absolute;
					width:110px;
					height:110px;
				}
			}
		}
	}
}
