/*
* @Author: William Chan
* @Date:   2016-11-29 15:01:42
* @Last Modified by:   William Chan
* @Last Modified time: 2017-02-06 18:15:38
*/
::selection {
  text-shadow: 1px 1px 1px #000;
  color: #fff;
  background: #00a5f8;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #31bedb;
}
a:hover {
  color: #209fb9;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
body,
html {
  background: #fff;
}
body {
  font-size: 14px;
  color: #666;
  line-height: 1.5;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
.el-message-box {
  border-radius: 5px;
}
.el-message-box__header {
  padding: 8px 15px;
}
.el-message-box__content,
.el-message-box__btns {
  background: #edf1f5;
}
.el-message-box__close {
  margin-top: -8px;
  display: inline-block;
  top: 50%;
  right: 16px;
  height: 16px;
  font-size: 12px;
}
.el-message-box__title {
  position: relative;
  padding-left: 15px;
  height: auto;
}
.el-message-box__title:before {
  position: absolute;
  left: 0;
  top: 50%;
  content: "";
  margin-top: -5px;
  height: 10px;
  width: 10px;
  background: #1fbedb;
  border-radius: 50%;
}
.el-dialog {
  border-radius: 5px;
}
.el-dialog__header,
.el-dialog__footer {
  padding: 20px;
}
.el-dialog__body {
  background: #edf1f5;
}
.el-dialog__title {
  position: relative;
  padding-left: 15px;
  font-weight: normal;
}
.el-dialog__title:before {
  position: absolute;
  height: 10px;
  width: 10px;
  margin-top: -5px;
  content: "";
  top: 50%;
  left: 0;
  background: #1fbedb;
  border-radius: 50%;
}
.commoon-menu-view {
  display: flex;
  position: relative;
}
.commoon-menu-view .commoon-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 135px;
  height: 100%;
  background: #eaedf1;
  z-index: 2;
}
.commoon-menu-view .commoon-menu .box {
  height: 100%;
  border-right: 1px solid #EBECF0;
}
.commoon-menu-view .commoon-menu .box .button {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.commoon-menu-view .commoon-menu .box .button .el-button {
  margin: 10px 0;
  width: 120px;
}
.commoon-menu-view .commoon-menu .box .el-menu {
  background: transparent;
}
.commoon-menu-view .commoon-menu .box .el-menu-item {
  border-color: transparent;
  line-height: 40px;
  height: 40px;
  padding-left: 0;
  text-align: center;
}
.commoon-menu-view .commoon-menu .box .el-menu-item:hover {
  background: #fff;
}
.commoon-menu-view .commoon-menu .box .el-menu-item.is-active {
  color: #39f;
  background: #fff;
}
.commoon-menu-view .commoon-menu .box .el-menu .title {
  color: #333;
  padding: 20px;
  display: flex;
  align-items: center;
}
.commoon-menu-view .commoon-menu .box .el-menu .title i {
  padding: 0 5px;
  font-size: 20px;
}
.commoon-menu-view .commoon-view {
  box-sizing: border-box;
  padding: 30px;
  position: absolute;
  height: 100%;
  width: auto;
  top: 0px;
  bottom: 0px;
  left: 135px;
  right: 0px;
  overflow: hidden;
  overflow-y: auto;
}
@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(-360deg);
  }
}
#nprogress {
  position: absolute;
  z-index: 9999;
}
#nprogress .bar {
  background: linear-gradient(to right, #d0459d, #d55e6f);
  background: linear-gradient(to right, #70DF00, #44BFFA) !important;
  height: 3px !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px #44BFFA, 0 0 5px #44BFFA !important;
}
#pay-tabs {
  width: 100%;
}
#pay-tabs .el-tabs__header {
  margin: 0;
  border: none;
}
#pay-tabs .el-tabs__header .el-tabs__nav-scroll {
  height: 46px;
}
#pay-tabs .el-tabs__header .el-tabs__nav-scroll .el-tabs__item {
  position: relative;
  z-index: 10;
  background-color: #f2f3f7;
  border-radius: 6px 6px 0 0;
  width: 140px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  overflow: hidden;
}
#pay-tabs .el-tabs__header .el-tabs__nav-scroll .el-tabs__item:before {
  content: '';
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}
#pay-tabs .el-tabs__header .el-tabs__nav-scroll .is-active {
  border: 1px solid #f2f3f7;
  border-bottom-color: #fff;
  background: #fff;
}
#pay-tabs .el-tabs__header .el-tabs__nav-scroll .is-active:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
  width: 100%;
  background-color: #31bedb;
}
#pay-tabs .el-tabs__content {
  border: 1px solid #f2f3f7;
  border-radius: 0 6px 6px;
}
#pay-tabs .common-tabs__content {
  padding: 34px 42px;
  display: flex;
  flex-direction: column;
}
#pay-tabs .el-input-number--small {
  width: 180px;
}
.pay-modal .el-dialog {
  width: auto;
  border-radius: 6px;
  overflow: hidden;
}
.pay-modal .el-dialog__header {
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
}
.pay-modal .el-dialog__header .el-dialog__title {
  font-size: 14px;
  font-weight: 500;
}
.pay-modal .el-dialog__header .el-dialog__title:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  width: 10px;
  height: 10px;
  text-align: middle;
  background-color: #31bedb;
  border-radius: 50%;
}
.pay-modal .el-dialog__body {
  position: relative;
  padding: 0;
}
.pay-modal .pay-menus {
  position: absolute;
  top: 0;
  left: 0;
  height: 360px;
  width: 110px;
  background-color: #4e546c;
}
.pay-modal .pay-menus .el-menu-item {
  height: 44px;
  line-height: 44px;
}
.pay-modal .pay-menus .el-menu-item:hover {
  background-color: #f2f3f7 ;
  color: #000;
}
.pay-modal .pay-menus .el-menu-item.is-active {
  background-color: #f2f3f7;
  color: #000;
}
.pay-modal .modal-body {
  padding-left: 110px;
  width: 812px;
  height: 360px;
  background-color: #f2f3f7;
}
.pay-modal .modal-body .pay-item {
  width: 100%;
  height: 100%;
  padding: 34px 56px;
}
.pay-modal .modal-body .pay-item .pay-logo {
  margin-bottom: 18px;
}
.pay-modal .modal-body .pay-item .pay-logo img {
  vertical-align: middle;
}
.pay-modal .modal-body .pay-item .message {
  display: flex;
  padding: 0 20px;
  height: 42px;
  line-height: 42px;
  border-radius: 4px;
  background-color: #ffffff;
}
.pay-modal .modal-body .pay-item .message .label {
  width: 72px;
  text-align: right;
}
.pay-modal .modal-body .pay-item .message .focus {
  font-weight: 500;
  color: #fc2f39;
}
.pay-modal .modal-body .pay-item .message:not(:last-child) {
  margin-bottom: 18px;
}
.pay-modal .modal-foot {
  display: flex;
  justify-content: flex-end;
  padding: 7px 20px;
  height: 50px;
  line-height: 50px;
  background-color: #fff;
}
.dialog--common .el-dialog {
  width: auto !important;
}
.dialog--common .el-dialog__body {
  padding: 0;
}
