/*
* @Author: William Chan
* @Date:   2016-11-29 15:01:42
* @Last Modified by:   William Chan
* @Last Modified time: 2017-02-06 18:15:38
*/
div, ul {
	-webkit-overflow-scrolling: touch;
}
button:disabled {
	opacity: .4;
	cursor: not-allowed !important;
}
body, html {
	background: #fff;
}
body {
	overflow: auto;
	font-size: 14px;
	color: #666;
	line-height: 1.5;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
// .pagination {
// 	text-align: center;
// 	margin: 20px;
// }
a {
	color: #108ee9;
	text-decoration: none;
}

.commoon-menu-view {
	display: flex;
	position: relative;
	.commoon-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 135px;
		height: 100%;
		background: #eaedf1;
		z-index: 1;
		.box {
			height: 100%;
			border-right: 1px solid #EBECF0;
			.button {
				margin-top: 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				.el-button {
					margin: 10px 0;
					width: 120px;
				}
			}
			.el-radio-group {
				padding-top: 20px;
				display: flex;
				flex-direction: column;
				.el-radio-button {
					span {
						text-align: left;
						text-indent: 20px;
						width: 134px;
						border: 0;
						color: #666;
						background: #EBECF0;
					}
					&:hover, &.is-active {
						span {
							background: lighten(#EBECF0, 5%) !important;
							color: #1190BF !important;
						}
					}
				}
				.title {
					color: #666;
					padding: 10px 15px;
					font-weight: bold;
					font-size: 14px;
					.iconfont {
						margin-right: 4px;
					}
				}
				.line {
					height: 34px;
				}
			}
		}
	}
	.commoon-view {
		box-sizing: border-box;
		padding: 30px;
		position: absolute;
		width: auto;
		top: 0px;
		bottom: 0px;
		left: 135px;
		right: 0px;
		overflow: hidden;
		overflow-y: auto;
	}
}

.iPhone-bg {
	width: 339px;
	height: 535px;
	background: url(iPhone.png) center center no-repeat;
}

.el-tabs {
	.el-tabs__content {
		padding: 0;
	}
}



.r-affix {
	position: fixed;
	padding-top: 50px;
	// height: 100%;
	bottom: 0px;
	.commoon-menu {
		height: auto;
	}
}

#nprogress {
	position: absolute;
	z-index: 9999;
	.bar {
		background: red !important;
	}
	.peg {
		box-shadow: 0 0 10px red, 0 0 5px red !important;
	}
}











// .fade-enter-active, .fade-leave-active {
// 	transition: opacity .5s
// }
// .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
// 	opacity: 0
// }
