/*
* @Author: William Chan
* @Date:   2016-11-29 15:01:42
* @Last Modified by:   William Chan
* @Last Modified time: 2017-02-06 18:15:38
*/
button:disabled {
	opacity: .4;
	cursor: not-allowed !important;
}
body, html {
	background: #fff;
}
body {
	// overflow: auto;
	font-size: 14px;
	// color: #666;
	// line-height: 1.5;
	// font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.commoon-menu-view {
	display: flex;
	position: relative;
	.commoon-menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 135px;
		height: 100%;
		background: #eaedf1;
		z-index: 2;
		.box {
			height: 100%;
			border-right: 1px solid #EBECF0;
			.button {
				margin-top: 30px;
				display: flex;
				flex-direction: column;
				align-items: center;
				.ivu-btn {
					margin: 10px 0;
					width: 120px;
				}
			}
			.ivu-menu-vertical.ivu-menu-light:after {
				background: #EBECF0;
			}
			.ivu-menu {
				background: transparent;
				.ivu-menu-item {
					border-color: transparent;
					padding: 8px 0;
					padding-left: 40px;
				}
				.title {
					color: #333;
					padding: 20px;
					display: flex;
					align-items: center;
					i {
						padding: 0 5px;
						font-size: 20px;
					}
				}
			}
			.ivu-menu-light.ivu-menu-vertical .ivu-menu-item-active:not(.ivu-menu-submenu) {
				color: #39f;
				// border-right: 2px solid #39f;
				background: #fff;
			}
		}
	}
	.commoon-view {
		box-sizing: border-box;
		padding: 30px;
		position: absolute;
		height: 100%;
		width: auto;
		top: 0px;
		bottom: 0px;
		left: 135px;
		right: 0px;
		overflow: hidden;
		overflow-y: auto;
	}
}


#nprogress {
	position: absolute;
	z-index: 9999;
	.bar {
		background: linear-gradient(to right, #70DF00, #44BFFA) !important;
		height: 3px !important;
	}
	.peg {
		box-shadow: 0 0 10px #44BFFA, 0 0 5px #44BFFA !important;
	}
}

