.commoon {
    flex: 1;
    background: #fff;
}
.help {
    background: #FFF;
    width: 280px;
    .head {
        padding: 0 0 0 32px;
        height: 140px;
        color: #fff;
        background: url("../helpBg.jpeg");
        .logo {
            padding-top: 31px;
            img {
                vertical-align: top;
            }
        }
        .title {
            margin-top: 6px;
            height: 30px;
            line-height: 30px;
            font-size: 18px;
        }
        .content {
            height: 30px;
            line-height: 30px;
            font-size: 14px;
            a {
                display: block;
                color: #fff;
            }
        }
    }
    .body {
        padding: 45px 30px;
        .wrap {
            .entry-head{
                display: flex;
                padding-bottom: 10px;
                justify-content: space-between;
                border-bottom: 1px solid  #999999;;
                .title {
                    height: 20px;
                    line-height: 20px;
                    font-size: 14px;
                    font-weight: normal;
                }
                a{  
                    height: 20px;
                    line-height: 20px;
                    font-size: 12px;
                }
            }
            .list{
                margin-top: 17px;
                li{
                    margin-top: 16px;
                }
                .tag{
                    display: inline-block;
                    padding: 4px 14px;
                    font-size: 14px;
                    line-height: 14px;
                    border-radius: 4px;
                    background-color: #e5e9f2;
                }
                .text{
                    margin-top: 9px;
                    font-size: 12px;
                }
            }
            
        }
    }
}
/*@media (max-width: 1600px) {
        .help {
            background: #fff;
            display: none;
        }
    }*/
